
<form action="/" method="get" class="input-group mt-5">
  <input type="search" class="form-control rounded mt-5" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
  <button type="submit" class="btn btn-outline-primary mt-5">Tìm Kiếm</button>
</form>